openapi: 3.2.0
info:
  title: Bloomberg Buyside Enterprise Solutions Bloomberg Portfolio…
  description: API for portfolio management operations including portfolio construction, holdings management, risk analysis, performance attribution, and compliance monitoring for buy-side firms. Enables programmatic access to Bloomberg's portfolio analytics platform.
  version: '1.0'
  contact:
    name: Bloomberg Support
    url: https://www.bloomberg.com/professional/support/
  termsOfService: https://www.bloomberg.com/professional/terms-of-use/
servers:
- url: https://api.bloomberg.com/portfolio
  description: Bloomberg Portfolio API Production
security:
- bearerAuth: []
tags:
- name: Compliance
  description: Portfolio compliance rules and monitoring
paths:
  /v1/portfolios/{portfolioId}/compliance:
    get:
      operationId: getComplianceStatus
      summary: Bloomberg Buyside Enterprise Solutions Get portfolio compliance status
      description: Retrieve the compliance status of a portfolio against all assigned compliance rules, including any current violations or warnings.
      tags:
      - Compliance
      parameters:
      - $ref: '#/components/parameters/portfolioId'
      - name: asOfDate
        in: query
        description: Compliance check date
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Compliance status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceResponse'
        '401':
          description: Unauthorized
        '404':
          description: Portfolio not found
  /v1/compliance/rules:
    get:
      operationId: listComplianceRules
      summary: Bloomberg Buyside Enterprise Solutions List compliance rules
      description: Retrieve all configured compliance rules, optionally filtered by rule type or status.
      tags:
      - Compliance
      parameters:
      - name: ruleType
        in: query
        description: Filter by rule type
        schema:
          type: string
          enum:
          - CONCENTRATION
          - EXPOSURE
          - RATING
          - LIQUIDITY
          - REGULATORY
          - CUSTOM
      - name: status
        in: query
        description: Filter by rule status
        schema:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
      responses:
        '200':
          description: List of compliance rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items:
                      $ref: '#/components/schemas/ComplianceRule'
        '401':
          description: Unauthorized
components:
  schemas:
    ComplianceRule:
      type: object
      properties:
        id:
          type: string
          description: Rule identifier
        name:
          type: string
          description: Rule name
        description:
          type: string
          description: Rule description
        type:
          type: string
          enum:
          - CONCENTRATION
          - EXPOSURE
          - RATING
          - LIQUIDITY
          - REGULATORY
          - CUSTOM
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
        threshold:
          type: number
          description: Rule threshold value
        operator:
          type: string
          enum:
          - LESS_THAN
          - LESS_THAN_OR_EQUAL
          - GREATER_THAN
          - GREATER_THAN_OR_EQUAL
          - BETWEEN
    ComplianceResponse:
      type: object
      properties:
        portfolioId:
          type: string
        asOfDate:
          type: string
          format: date
        overallStatus:
          type: string
          enum:
          - COMPLIANT
          - WARNING
          - VIOLATION
          description: Overall compliance status
        rules:
          type: array
          items:
            type: object
            properties:
              ruleId:
                type: string
              ruleName:
                type: string
              status:
                type: string
                enum:
                - PASS
                - WARNING
                - FAIL
              currentValue:
                type: number
              threshold:
                type: number
              message:
                type: string
  parameters:
    portfolioId:
      name: portfolioId
      in: path
      required: true
      description: Unique portfolio identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bloomberg API bearer token obtained via OAuth 2.0 authentication
externalDocs:
  description: Bloomberg Portfolio Management Documentation
  url: https://www.bloomberg.com/professional/product/portfolio-management/
