openapi: 3.1.0
info:
  title: Bloomberg Buyside Enterprise Solutions Bloomberg Analytics Allocations Orders API
  description: Access to Bloomberg's analytics engine for fixed income, derivatives, and multi-asset calculations including scenario analysis, stress testing, yield curve construction, and pricing models. Part of Bloomberg's buy-side enterprise solutions for institutional investors.
  version: '1.0'
  contact:
    name: Bloomberg Support
    url: https://www.bloomberg.com/professional/support/
  termsOfService: https://www.bloomberg.com/professional/terms-of-use/
servers:
- url: https://api.bloomberg.com/analytics
  description: Bloomberg Analytics API Production
security:
- bearerAuth: []
tags:
- name: Orders
  description: Create, manage, and monitor trading orders
paths:
  /v1/orders:
    get:
      operationId: listOrders
      summary: Bloomberg Buyside Enterprise Solutions List orders
      description: Retrieve a list of orders with optional filtering by status, side, security, date range, or portfolio.
      tags:
      - Orders
      parameters:
      - name: status
        in: query
        description: Filter by order status
        schema:
          type: string
          enum:
          - NEW
          - PENDING
          - PARTIALLY_FILLED
          - FILLED
          - CANCELLED
          - REJECTED
          - EXPIRED
      - name: side
        in: query
        description: Filter by order side
        schema:
          type: string
          enum:
          - BUY
          - SELL
          - SHORT_SELL
          - BUY_TO_COVER
      - name: security
        in: query
        description: Filter by security identifier
        schema:
          type: string
      - name: portfolioId
        in: query
        description: Filter by portfolio
        schema:
          type: string
      - name: startDate
        in: query
        description: Filter orders created on or after this date
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        description: Filter orders created on or before this date
        schema:
          type: string
          format: date
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      operationId: createOrder
      summary: Bloomberg Buyside Enterprise Solutions Create an order
      description: Create a new trading order with the specified parameters including security, side, quantity, order type, and routing instructions.
      tags:
      - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid order parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient trading permissions
        '422':
          description: Order rejected by compliance pre-trade check
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceRejection'
  /v1/orders/{orderId}:
    get:
      operationId: getOrder
      summary: Bloomberg Buyside Enterprise Solutions Get order details
      description: Retrieve detailed information about a specific order, including current status, fill information, and audit trail.
      tags:
      - Orders
      parameters:
      - $ref: '#/components/parameters/orderId'
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          description: Unauthorized
        '404':
          description: Order not found
    patch:
      operationId: amendOrder
      summary: Bloomberg Buyside Enterprise Solutions Amend an order
      description: Amend an existing order's quantity, limit price, or time in force. Only open orders can be amended.
      tags:
      - Orders
      parameters:
      - $ref: '#/components/parameters/orderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmendOrderRequest'
      responses:
        '200':
          description: Order amended successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid amendment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '404':
          description: Order not found
        '409':
          description: Order cannot be amended in its current state
  /v1/orders/{orderId}/cancel:
    post:
      operationId: cancelOrder
      summary: Bloomberg Buyside Enterprise Solutions Cancel an order
      description: Request cancellation of an open order. The order must be in a cancellable state (NEW, PENDING, or PARTIALLY_FILLED).
      tags:
      - Orders
      parameters:
      - $ref: '#/components/parameters/orderId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for cancellation
      responses:
        '200':
          description: Cancellation request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          description: Unauthorized
        '404':
          description: Order not found
        '409':
          description: Order cannot be cancelled in its current state
components:
  schemas:
    CreateOrderRequest:
      type: object
      required:
      - security
      - side
      - orderType
      - quantity
      properties:
        security:
          type: string
          description: Bloomberg security identifier
        side:
          type: string
          enum:
          - BUY
          - SELL
          - SHORT_SELL
          - BUY_TO_COVER
        orderType:
          type: string
          enum:
          - MARKET
          - LIMIT
          - STOP
          - STOP_LIMIT
          - PEGGED
          - VWAP
          - TWAP
        quantity:
          type: number
          description: Order quantity
          minimum: 0
        limitPrice:
          type: number
          description: Limit price (required for LIMIT and STOP_LIMIT orders)
        stopPrice:
          type: number
          description: Stop price (required for STOP and STOP_LIMIT orders)
        timeInForce:
          type: string
          enum:
          - DAY
          - GTC
          - IOC
          - FOK
          - GTD
          default: DAY
        expirationDate:
          type: string
          format: date
          description: Expiration date (required for GTD orders)
        portfolioId:
          type: string
          description: Target portfolio for allocation
        brokerId:
          type: string
          description: Broker to route the order to
        algorithm:
          type: string
          description: Algorithm name for algorithmic execution
        algorithmParams:
          type: object
          additionalProperties: true
          description: Algorithm-specific parameters
        notes:
          type: string
          description: Order notes or instructions
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
    Order:
      type: object
      properties:
        id:
          type: string
          description: Unique order identifier
        security:
          type: string
          description: Bloomberg security identifier
        securityName:
          type: string
          description: Security name
        side:
          type: string
          enum:
          - BUY
          - SELL
          - SHORT_SELL
          - BUY_TO_COVER
          description: Order side
        orderType:
          type: string
          enum:
          - MARKET
          - LIMIT
          - STOP
          - STOP_LIMIT
          - PEGGED
          - VWAP
          - TWAP
          description: Order type
        quantity:
          type: number
          description: Order quantity
        filledQuantity:
          type: number
          description: Quantity filled so far
        remainingQuantity:
          type: number
          description: Remaining quantity to fill
        limitPrice:
          type: number
          description: Limit price (for limit and stop-limit orders)
        stopPrice:
          type: number
          description: Stop price (for stop and stop-limit orders)
        averageFillPrice:
          type: number
          description: Volume-weighted average fill price
        status:
          type: string
          enum:
          - NEW
          - PENDING
          - PARTIALLY_FILLED
          - FILLED
          - CANCELLED
          - REJECTED
          - EXPIRED
          description: Current order status
        timeInForce:
          type: string
          enum:
          - DAY
          - GTC
          - IOC
          - FOK
          - GTD
          description: Time in force instruction
        expirationDate:
          type: string
          format: date
          description: Expiration date for GTD orders
        portfolioId:
          type: string
          description: Associated portfolio
        brokerId:
          type: string
          description: Routing broker identifier
        algorithm:
          type: string
          description: Algorithm name (for algorithmic orders)
        currency:
          type: string
          description: Order currency (ISO 4217)
        trader:
          type: string
          description: Trader who placed the order
        createdAt:
          type: string
          format: date-time
          description: Order creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
    AmendOrderRequest:
      type: object
      properties:
        quantity:
          type: number
          description: New order quantity
        limitPrice:
          type: number
          description: New limit price
        timeInForce:
          type: string
          enum:
          - DAY
          - GTC
          - IOC
          - FOK
          - GTD
    ComplianceRejection:
      type: object
      properties:
        orderId:
          type: string
        violations:
          type: array
          items:
            type: object
            properties:
              ruleId:
                type: string
              ruleName:
                type: string
              message:
                type: string
              severity:
                type: string
                enum:
                - WARNING
                - HARD_BLOCK
  parameters:
    orderId:
      name: orderId
      in: path
      required: true
      description: Unique order identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bloomberg API bearer token obtained via OAuth 2.0 authentication
externalDocs:
  description: Bloomberg Analytics Documentation
  url: https://www.bloomberg.com/professional/product/analytics/
