openapi: 3.2.0
info:
  title: Bloomberg Buyside Enterprise Solutions Bloomberg Data…
  description: Programmatic access to Bloomberg's financial data including reference data, historical pricing, corporate actions, and market data for portfolio management and analytics. Part of Bloomberg's buy-side enterprise solutions for asset managers, hedge funds, and institutional investors.
  version: '1.0'
  contact:
    name: Bloomberg Support
    url: https://www.bloomberg.com/professional/support/
  termsOfService: https://www.bloomberg.com/professional/terms-of-use/
servers:
- url: https://api.bloomberg.com
  description: Bloomberg API Production
security:
- bearerAuth: []
tags:
- name: Historical Data
  description: Historical pricing, volume, and fundamental data for securities
paths:
  /data/v1/historical:
    post:
      operationId: getHistoricalData
      summary: Bloomberg Buyside Enterprise Solutions Get historical data for securities
      description: Retrieve historical end-of-day data for one or more securities over a specified date range. Supports pricing, volume, fundamental, and derived fields with configurable periodicity.
      tags:
      - Historical Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HistoricalDataRequest'
      responses:
        '200':
          description: Historical data returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalDataResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient data entitlements
        '429':
          description: Rate limit exceeded
components:
  schemas:
    HistoricalDataRequest:
      type: object
      required:
      - securities
      - fields
      - startDate
      - endDate
      properties:
        securities:
          type: array
          items:
            type: string
          description: List of security identifiers
          minItems: 1
          maxItems: 50
        fields:
          type: array
          items:
            type: string
          description: List of Bloomberg field mnemonics
          minItems: 1
          maxItems: 25
        startDate:
          type: string
          format: date
          description: Start date for historical range (YYYY-MM-DD)
        endDate:
          type: string
          format: date
          description: End date for historical range (YYYY-MM-DD)
        periodicity:
          type: string
          enum:
          - DAILY
          - WEEKLY
          - MONTHLY
          - QUARTERLY
          - SEMI_ANNUALLY
          - YEARLY
          default: DAILY
          description: Frequency of data points
        adjustmentNormal:
          type: boolean
          default: false
          description: Adjust for normal cash dividends
        adjustmentAbnormal:
          type: boolean
          default: false
          description: Adjust for abnormal cash dividends
        adjustmentSplit:
          type: boolean
          default: true
          description: Adjust for stock splits
        currency:
          type: string
          description: Override currency for price fields (ISO 4217)
    HistoricalDataPoint:
      type: object
      properties:
        date:
          type: string
          format: date
          description: Date of the data point
        fields:
          type: object
          additionalProperties: true
          description: Map of field mnemonics to their values for this date
    HistoricalDataResponse:
      type: object
      properties:
        securities:
          type: array
          items:
            type: object
            properties:
              security:
                type: string
                description: Security identifier
              data:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalDataPoint'
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bloomberg API bearer token obtained via OAuth 2.0 authentication
externalDocs:
  description: Bloomberg API Library Documentation
  url: https://www.bloomberg.com/professional/support/api-library/
