openapi: 3.1.0
info:
  title: Bloomberg Buyside Enterprise Solutions Bloomberg Analytics Allocations Fixed Income API
  description: Access to Bloomberg's analytics engine for fixed income, derivatives, and multi-asset calculations including scenario analysis, stress testing, yield curve construction, and pricing models. Part of Bloomberg's buy-side enterprise solutions for institutional investors.
  version: '1.0'
  contact:
    name: Bloomberg Support
    url: https://www.bloomberg.com/professional/support/
  termsOfService: https://www.bloomberg.com/professional/terms-of-use/
servers:
- url: https://api.bloomberg.com/analytics
  description: Bloomberg Analytics API Production
security:
- bearerAuth: []
tags:
- name: Fixed Income
  description: Fixed income analytics including yield, duration, and spread calculations
paths:
  /v1/fixed-income/calculate:
    post:
      operationId: calculateFixedIncome
      summary: Bloomberg Buyside Enterprise Solutions Calculate fixed income analytics
      description: Compute fixed income analytics for one or more securities, including yield to maturity, modified duration, convexity, spread measures, and cash flow projections.
      tags:
      - Fixed Income
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FixedIncomeRequest'
      responses:
        '200':
          description: Fixed income analytics calculated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedIncomeResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient analytics entitlements
  /v1/fixed-income/cashflows:
    post:
      operationId: getFixedIncomeCashflows
      summary: Bloomberg Buyside Enterprise Solutions Get fixed income cash flows
      description: Retrieve projected cash flow schedules for fixed income securities, including coupon payments, principal payments, and prepayment projections for mortgage-backed securities.
      tags:
      - Fixed Income
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - securities
              properties:
                securities:
                  type: array
                  items:
                    type: string
                  description: List of security identifiers
                  minItems: 1
                  maxItems: 25
                settlementDate:
                  type: string
                  format: date
                  description: Settlement date for cash flow calculation
                prepaymentSpeed:
                  type: number
                  description: Prepayment speed assumption (CPR) for MBS
      responses:
        '200':
          description: Cash flow projections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashflowResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    FixedIncomeResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              security:
                type: string
                description: Security identifier
              price:
                type: number
                description: Clean price
              dirtyPrice:
                type: number
                description: Dirty price (clean + accrued)
              yieldToMaturity:
                type: number
                description: Yield to maturity
              yieldToWorst:
                type: number
                description: Yield to worst
              modifiedDuration:
                type: number
                description: Modified duration
              effectiveDuration:
                type: number
                description: Effective duration (OAS-based)
              macaulayDuration:
                type: number
                description: Macaulay duration
              convexity:
                type: number
                description: Convexity
              oas:
                type: number
                description: Option-adjusted spread (basis points)
              zSpread:
                type: number
                description: Z-spread (basis points)
              iSpread:
                type: number
                description: Interpolated spread (basis points)
              dv01:
                type: number
                description: Dollar value of a basis point
              accruedInterest:
                type: number
                description: Accrued interest per 100 face value
              currentYield:
                type: number
                description: Current yield
    FixedIncomeRequest:
      type: object
      required:
      - securities
      properties:
        securities:
          type: array
          items:
            type: string
          description: List of fixed income security identifiers
          minItems: 1
          maxItems: 50
        analytics:
          type: array
          items:
            type: string
            enum:
            - YIELD_TO_MATURITY
            - YIELD_TO_WORST
            - MODIFIED_DURATION
            - EFFECTIVE_DURATION
            - MACAULAY_DURATION
            - CONVEXITY
            - OAS
            - Z_SPREAD
            - I_SPREAD
            - DV01
            - ACCRUED_INTEREST
            - CURRENT_YIELD
          description: Analytics to calculate (defaults to all)
        settlementDate:
          type: string
          format: date
          description: Settlement date for calculations
        yieldCurveId:
          type: string
          description: Yield curve to use for spread calculations
    CashflowResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              security:
                type: string
              cashflows:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date
                    coupon:
                      type: number
                      description: Coupon payment amount
                    principal:
                      type: number
                      description: Principal payment amount
                    totalPayment:
                      type: number
                      description: Total cash flow
                    remainingBalance:
                      type: number
                      description: Outstanding principal balance
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bloomberg API bearer token obtained via OAuth 2.0 authentication
externalDocs:
  description: Bloomberg Analytics Documentation
  url: https://www.bloomberg.com/professional/product/analytics/
