openapi: 3.1.0
info:
  title: Bloomberg Buyside Enterprise Solutions Bloomberg Analytics Allocations Corporate Actions API
  description: Access to Bloomberg's analytics engine for fixed income, derivatives, and multi-asset calculations including scenario analysis, stress testing, yield curve construction, and pricing models. Part of Bloomberg's buy-side enterprise solutions for institutional investors.
  version: '1.0'
  contact:
    name: Bloomberg Support
    url: https://www.bloomberg.com/professional/support/
  termsOfService: https://www.bloomberg.com/professional/terms-of-use/
servers:
- url: https://api.bloomberg.com/analytics
  description: Bloomberg Analytics API Production
security:
- bearerAuth: []
tags:
- name: Corporate Actions
  description: Corporate action events including dividends, splits, mergers, and restructurings
paths:
  /data/v1/corporate-actions:
    post:
      operationId: getCorporateActions
      summary: Bloomberg Buyside Enterprise Solutions Get corporate actions for securities
      description: Retrieve corporate action events for one or more securities within a specified date range, including dividends, stock splits, mergers, spin-offs, and other corporate events.
      tags:
      - Corporate Actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporateActionsRequest'
      responses:
        '200':
          description: Corporate actions returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporateActionsResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient data entitlements
        '429':
          description: Rate limit exceeded
components:
  schemas:
    CorporateActionsResponse:
      type: object
      properties:
        securities:
          type: array
          items:
            type: object
            properties:
              security:
                type: string
                description: Security identifier
              actions:
                type: array
                items:
                  $ref: '#/components/schemas/CorporateAction'
    CorporateAction:
      type: object
      properties:
        actionType:
          type: string
          description: Type of corporate action
        announcementDate:
          type: string
          format: date
          description: Date the action was announced
        effectiveDate:
          type: string
          format: date
          description: Effective date of the action
        recordDate:
          type: string
          format: date
          description: Record date for the action
        paymentDate:
          type: string
          format: date
          description: Payment date (for dividends)
        amount:
          type: number
          description: Amount associated with the action (e.g., dividend per share)
        currency:
          type: string
          description: Currency of the amount (ISO 4217)
        ratio:
          type: string
          description: Ratio for splits (e.g., "2:1")
        description:
          type: string
          description: Human-readable description of the action
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
    CorporateActionsRequest:
      type: object
      required:
      - securities
      properties:
        securities:
          type: array
          items:
            type: string
          description: List of security identifiers
          minItems: 1
          maxItems: 50
        startDate:
          type: string
          format: date
          description: Start date for corporate actions range
        endDate:
          type: string
          format: date
          description: End date for corporate actions range
        actionTypes:
          type: array
          items:
            type: string
            enum:
            - DIVIDEND
            - STOCK_SPLIT
            - REVERSE_SPLIT
            - MERGER
            - ACQUISITION
            - SPIN_OFF
            - RIGHTS_ISSUE
            - TENDER_OFFER
            - BANKRUPTCY
          description: Filter by specific corporate action types
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bloomberg API bearer token obtained via OAuth 2.0 authentication
externalDocs:
  description: Bloomberg Analytics Documentation
  url: https://www.bloomberg.com/professional/product/analytics/
