openapi: 3.1.0
info:
  title: Bloomberg Buyside Enterprise Solutions Bloomberg Analytics Allocations Pricing API
  description: Access to Bloomberg's analytics engine for fixed income, derivatives, and multi-asset calculations including scenario analysis, stress testing, yield curve construction, and pricing models. Part of Bloomberg's buy-side enterprise solutions for institutional investors.
  version: '1.0'
  contact:
    name: Bloomberg Support
    url: https://www.bloomberg.com/professional/support/
  termsOfService: https://www.bloomberg.com/professional/terms-of-use/
servers:
- url: https://api.bloomberg.com/analytics
  description: Bloomberg Analytics API Production
security:
- bearerAuth: []
tags:
- name: Pricing
  description: Security pricing and valuation
paths:
  /v1/pricing/evaluate:
    post:
      operationId: evaluateSecurities
      summary: Bloomberg Buyside Enterprise Solutions Evaluate security prices
      description: Calculate theoretical prices for securities using Bloomberg's pricing models, with optional overrides for valuation parameters.
      tags:
      - Pricing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - securities
              properties:
                securities:
                  type: array
                  items:
                    type: string
                  description: List of security identifiers
                  minItems: 1
                  maxItems: 50
                pricingDate:
                  type: string
                  format: date
                  description: Valuation date
                yieldCurveId:
                  type: string
                  description: Override yield curve for valuation
                creditSpreadOverride:
                  type: number
                  description: Override credit spread in basis points
                volatilityOverride:
                  type: number
                  description: Override implied volatility
      responses:
        '200':
          description: Pricing results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        security:
                          type: string
                        theoreticalPrice:
                          type: number
                        marketPrice:
                          type: number
                        priceDifference:
                          type: number
                        yieldToMaturity:
                          type: number
                        spreadTobenchmark:
                          type: number
                        pricingModel:
                          type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bloomberg API bearer token obtained via OAuth 2.0 authentication
externalDocs:
  description: Bloomberg Analytics Documentation
  url: https://www.bloomberg.com/professional/product/analytics/
