openapi: 3.1.0
info:
  title: Bloomberg Buyside Enterprise Solutions Bloomberg Analytics Allocations Field Search API
  description: Access to Bloomberg's analytics engine for fixed income, derivatives, and multi-asset calculations including scenario analysis, stress testing, yield curve construction, and pricing models. Part of Bloomberg's buy-side enterprise solutions for institutional investors.
  version: '1.0'
  contact:
    name: Bloomberg Support
    url: https://www.bloomberg.com/professional/support/
  termsOfService: https://www.bloomberg.com/professional/terms-of-use/
servers:
- url: https://api.bloomberg.com/analytics
  description: Bloomberg Analytics API Production
security:
- bearerAuth: []
tags:
- name: Field Search
  description: Search and discover available data fields
paths:
  /data/v1/fields:
    get:
      operationId: searchFields
      summary: Bloomberg Buyside Enterprise Solutions Search available data fields
      description: Search and discover available Bloomberg data fields by keyword or category. Returns field metadata including mnemonics, descriptions, data types, and applicable security types.
      tags:
      - Field Search
      parameters:
      - name: query
        in: query
        required: true
        description: Search keyword or field mnemonic
        schema:
          type: string
      - name: category
        in: query
        description: Filter by field category
        schema:
          type: string
          enum:
          - Pricing
          - Fundamentals
          - Analytics
          - Ratings
          - Identifiers
          - Corporate Actions
      - name: limit
        in: query
        description: Maximum number of results to return
        schema:
          type: integer
          default: 50
          maximum: 200
      - name: offset
        in: query
        description: Number of results to skip for pagination
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Field search results returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldSearchResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    FieldMetadata:
      type: object
      properties:
        mnemonic:
          type: string
          description: Bloomberg field mnemonic (e.g., "PX_LAST")
        name:
          type: string
          description: Human-readable field name
        description:
          type: string
          description: Detailed description of the field
        dataType:
          type: string
          description: Data type of the field value
          enum:
          - String
          - Double
          - Integer
          - Date
          - DateTime
          - Boolean
        category:
          type: string
          description: Field category
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
    FieldSearchResponse:
      type: object
      properties:
        totalCount:
          type: integer
          description: Total number of matching fields
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldMetadata'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bloomberg API bearer token obtained via OAuth 2.0 authentication
externalDocs:
  description: Bloomberg Analytics Documentation
  url: https://www.bloomberg.com/professional/product/analytics/
