openapi: 3.1.0
info:
  title: Bloomberg Buyside Enterprise Solutions Bloomberg Analytics Allocations Derivatives API
  description: Access to Bloomberg's analytics engine for fixed income, derivatives, and multi-asset calculations including scenario analysis, stress testing, yield curve construction, and pricing models. Part of Bloomberg's buy-side enterprise solutions for institutional investors.
  version: '1.0'
  contact:
    name: Bloomberg Support
    url: https://www.bloomberg.com/professional/support/
  termsOfService: https://www.bloomberg.com/professional/terms-of-use/
servers:
- url: https://api.bloomberg.com/analytics
  description: Bloomberg Analytics API Production
security:
- bearerAuth: []
tags:
- name: Derivatives
  description: Derivatives pricing, Greeks, and valuation models
paths:
  /v1/derivatives/price:
    post:
      operationId: priceDerivative
      summary: Bloomberg Buyside Enterprise Solutions Price a derivative instrument
      description: Calculate the theoretical price and Greeks for derivative instruments including options, futures, swaps, and structured products using Bloomberg's pricing models.
      tags:
      - Derivatives
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DerivativePricingRequest'
      responses:
        '200':
          description: Derivative pricing results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DerivativePricingResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient analytics entitlements
  /v1/derivatives/greeks:
    post:
      operationId: calculateGreeks
      summary: Bloomberg Buyside Enterprise Solutions Calculate option Greeks
      description: Compute option Greeks (delta, gamma, theta, vega, rho) for one or more options or option portfolios.
      tags:
      - Derivatives
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - securities
              properties:
                securities:
                  type: array
                  items:
                    type: string
                  description: List of option security identifiers
                  minItems: 1
                  maxItems: 50
                pricingDate:
                  type: string
                  format: date
                  description: Pricing date for Greeks calculation
                volatilitySurface:
                  type: string
                  description: Volatility surface identifier to use
      responses:
        '200':
          description: Greeks calculation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GreeksResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    DerivativePricingResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              security:
                type: string
              theoreticalPrice:
                type: number
                description: Theoretical price from the model
              marketPrice:
                type: number
                description: Current market price
              impliedVolatility:
                type: number
                description: Implied volatility
              delta:
                type: number
                description: Delta
              gamma:
                type: number
                description: Gamma
              theta:
                type: number
                description: Theta (daily)
              vega:
                type: number
                description: Vega
              rho:
                type: number
                description: Rho
              pricingModel:
                type: string
                description: Model used for pricing
    GreeksResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              security:
                type: string
              delta:
                type: number
              gamma:
                type: number
              theta:
                type: number
              vega:
                type: number
              rho:
                type: number
              charm:
                type: number
                description: Rate of change of delta over time
              vanna:
                type: number
                description: Sensitivity of delta to volatility
              volga:
                type: number
                description: Sensitivity of vega to volatility
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
    DerivativePricingRequest:
      type: object
      required:
      - securities
      properties:
        securities:
          type: array
          items:
            type: string
          description: List of derivative security identifiers
          minItems: 1
          maxItems: 25
        pricingDate:
          type: string
          format: date
          description: Pricing date
        pricingModel:
          type: string
          enum:
          - BLACK_SCHOLES
          - BINOMIAL
          - MONTE_CARLO
          - BLACK76
          - BACHELIER
          - HJM
          description: Pricing model to use
        volatilitySurface:
          type: string
          description: Volatility surface identifier
        underlyingPriceOverride:
          type: number
          description: Override underlying asset price
        volatilityOverride:
          type: number
          description: Override implied volatility
        riskFreeRateOverride:
          type: number
          description: Override risk-free rate
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bloomberg API bearer token obtained via OAuth 2.0 authentication
externalDocs:
  description: Bloomberg Analytics Documentation
  url: https://www.bloomberg.com/professional/product/analytics/
