openapi: 3.1.0
info:
  title: Bloomberg Buyside Enterprise Solutions Bloomberg Analytics Allocations Market Data API
  description: Access to Bloomberg's analytics engine for fixed income, derivatives, and multi-asset calculations including scenario analysis, stress testing, yield curve construction, and pricing models. Part of Bloomberg's buy-side enterprise solutions for institutional investors.
  version: '1.0'
  contact:
    name: Bloomberg Support
    url: https://www.bloomberg.com/professional/support/
  termsOfService: https://www.bloomberg.com/professional/terms-of-use/
servers:
- url: https://api.bloomberg.com/analytics
  description: Bloomberg Analytics API Production
security:
- bearerAuth: []
tags:
- name: Market Data
  description: Real-time and delayed market data snapshots
paths:
  /data/v1/market:
    post:
      operationId: getMarketData
      summary: Bloomberg Buyside Enterprise Solutions Get market data snapshot
      description: Retrieve a snapshot of current or delayed market data for one or more securities, including last price, bid, ask, volume, and other real-time fields.
      tags:
      - Market Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketDataRequest'
      responses:
        '200':
          description: Market data snapshot returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketDataResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient data entitlements
        '429':
          description: Rate limit exceeded
components:
  schemas:
    SecurityError:
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error description
    MarketDataRequest:
      type: object
      required:
      - securities
      - fields
      properties:
        securities:
          type: array
          items:
            type: string
          description: List of security identifiers
          minItems: 1
          maxItems: 100
        fields:
          type: array
          items:
            type: string
          description: List of Bloomberg field mnemonics for market data
          minItems: 1
          maxItems: 50
    MarketDataResponse:
      type: object
      properties:
        securities:
          type: array
          items:
            $ref: '#/components/schemas/SecurityData'
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the market data snapshot
    SecurityData:
      type: object
      properties:
        security:
          type: string
          description: Security identifier
        fields:
          type: object
          additionalProperties: true
          description: Map of field mnemonics to their values
        error:
          $ref: '#/components/schemas/SecurityError'
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bloomberg API bearer token obtained via OAuth 2.0 authentication
externalDocs:
  description: Bloomberg Analytics Documentation
  url: https://www.bloomberg.com/professional/product/analytics/
